<% include partials/header %>
<div>

  <header>
    <div>
      <h1>Welcome to the RESTful Blog!</h1>
    </div>
  </header>

    <% blogs.forEach(function(blog){ %>
    <div class="ui main text container segment">
      <h2><%= blog.title %></h2>
      <img src="<%= blog.image_url %>">
      <h3><%= blog.created.toDateString() %></h3>
      <p><%= blog.blog_post.substring(0,100) %>...</p>
      <a href="/blogs/<%= blog.id %>">Read more</a>
    </div>
    <% }) %>

</div>
<% include partials/footer %>
